# ======================
# Backend (Spring Boot)
# ======================
/atm-machine/target/
*.log

# ======================
# Frontend (React)
# ======================
/atm-machine-frontend/node_modules/
/atm-machine-frontend/build/
/atm-machine-frontend/dist/
.env

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db
